<%= @user.name %>さんのマイページ


<p>仕事・趣味・最近興味のあること</p>
<%= link_to "追加・編集", user_introductions_path(user_id: params[:id]) %>
<div>
 <% @introductions.each do |introduction| %>
  <%= introduction.introduction_junre.name %>
  <%= introduction.content %>
 <% end %>
</div>


<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>